h1 {
    color: black;
}

h3 {
    height: 30px;  
    border: none;  
    color: red  ;  
}

h4 {
    height: 30px;  
    border: none;  
    color: red  ;  
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color:rgb(204, 65, 65);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.text_field{ 
    font-weight: lighter;
    font-family: sans-serif;
    font-size: medium; 
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: initial;
}

.text_field1{ 
    font-weight: lighter;
    font-family: sans-serif;
    font-size: medium; 
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: initial;
}

  
 
