{% extends "layout.html" %}
{% block package %}
    <div class="mx-auto" style="width: 200px; margin-top: 10%;">  
        <h2>Change Password</h2>
        {%if verified ==2%}
                <h3 style="color: red;"><b>Incorrect credentials. Please try again.</b></h3>
        {% endif %}
        {% if verified == 1 %}
            <tr>
                <h3 style="color: red;"><b>Your password has been changed.</b></h3>
                <label><b>Please re-login.</b></label>
                <br><br>
                <a class= "btn btn-primary" href="/existinguser">Re-login</a>
            </tr>
        {% else %}
        <form id="changepassword" method="POST" action='/changepassword'>
            <label><b>User Name
            </b>
            </label>
            <input class="text_field" type="text" name="Username" id="Username" placeholder="Username here" required>
            <br><br>
            <label><b>Security Answer
            </b>
            </label>
            <input class="text_field" type="secret_ans" name="secret_ans" id="secret_ans" placeholder="Mother's maiden name?" required>
            <br><br>
            <label><b>New Password
            </b>
            </label>
            <input class="text_field" type="Password" name="new_pwd" id="new_pwd" placeholder="New password here" required>
            <br><br>
            <input type="submit" class = "btn btn-primary" name="changepassword" id="changepassword" value="Change password">
        </form><br>
        <a class= "btn btn-primary" href="/">Home</a>
    </div>
        {% endif %}
        

{% endblock %}

