{% extends "layout.html" %}
{% block package %}
        <div class="mx-auto" style="width: 200px; margin-top: 10%;">
            <h1>Log In</h1>
                {% if wrong_cred == 1 %}
                <tr>
                    <h3 style="color: red;">Incorrect credentials. Please try again...</h3>
                </tr>
                {% endif %}
            <form id="login" method="POST" action= {{ request.path }}>
                <div class="form-group">
                    <label><b>User Name
                    </b>
                    </label>
                    <input class="text_field" type="text" name="Username" id="Username" placeholder="Username here" required>
                    <br><br>
                    <label><b>Password
                    </b>
                    </label>
                    <input class="text_field" type="Password" name="Password" id="Password" placeholder="Password here" required>
                    <br><br>
                    <input type="submit" class = "btn btn-primary" name="login" id="login" value="Log In">
                    <a class="btn btn-secondary" href="/newuser">Sign Up</a>
                    <br><br>
                </div>
                <a class="btn btn-primary" href="/changepassword">Forgot Password?</a>
            </form>
        </div>
	<br><br>
{% endblock %}
