{% extends "layout.html" %}
{% block package %}
        <h1>Recover your account</h1>
            {% if wrong_cred == 1 %}
            <tr>
                <h3 style="color: red;">No account found. Please try again...</h3>
            </tr>
            {% endif %}
        <form method="POST" action= {{ request.path }}>
            <labelfor"Username"><b>User Name</b></label>
            <input class="text_field1" type="text" name="Username" id="Username" placeholder="Enter Username here" required>
            <br><br>
            <label><b>New Password
            </b>
            </label>
            <input class="text_field1" type="Password" name="NewPassword" id="NewPassword" placeholder="Enter New Password here" required>
            <br><br>
            <input type="submit" class = "btn btn-primary" name="changepass" id="changepass" value="Change password">
            <br><br>
            <a class="btn btn-primary" href="/">Home</a>
            <a class="btn btn-primary" href="/newuser">Sign Up</a>
        </form>


{% endblock %}

