{% extends "layout.html" %}
{% block package %}
        <div class="mx-auto" style="width: 780px; margin-top: 0%;">
            <p></p>
            <h6 style="color: grey;">MyMovieList is a personalized webapp that allows you to create a list of movies that you want to watch. Sign up now to create your own list, or if you already have a an account, log in to see your list.</h6>
            <br><br>
            <a class = "btn btn-primary" href="newuser">Sign Up</a>
            <p></p>
	    <a class = "btn btn-primary" href ="existinguser">Log In</a>
	    <p></p>
            <a class = "btn btn-primary" href="search">Search for a movie</a>
        </div>
            
{% endblock %}
