{% extends "layout.html" %}
{% block package %}
<body>
   <h1>Your Search Results</h1>
      {% if no_login ==1 %}
         <a href="/existinguser" class="btn btn-primary"> Log In</a>
         <a href="/newuser" class="btn btn-primary"> Sign Up</a>
         <a class="btn btn-primary" href="/">Home</a>
      {% endif%}

      {% if added_movie ==1 %}
         <h3 style="color: red;">Movie has been added to your watchlist.</h3>
      {% endif %}

      {% if not_added_movie ==1 %}
         <h3 style="color: red;">Movie already exists in your list.</h3>
      {% endif %}

      {% if user_logged_in ==1 %}
         <a href="/mylist">
            <input id="go_back" class="btn btn-secondary" value="View list" />
         </a>
      {% endif%}

      
      <br><br>
      <!-- <table BORDER="5" WIDTH="80%" CELLPADDING="4" CELLSPACING="3"> -->
      <table class="table">
         <thead>
            <tr>
               <th >ID </th>
               <th >Movie Title </th>
               <th >Overview </th>
               <th >Score</th>
               {% if user_logged_in ==1 %}
               <th>Add movie</th>
               {% endif %}
            </tr>
         </thead>
         
         <tbody>
            {% for res in searchresults %}
            <tr>
               <td>{{ res.movie_id }}</td>
               <td>{{ res.movie_name }}</td>
               <td>{{ res.overview }}</td>
               <td>{{ res.movie_score }}</td>
               {% if user_logged_in ==1 %}
               <td>
                  <form id="add_movie" method="POST" action= '/addmovie'>
                     </label>
		     <input type="hidden" name="movie_id" id="movie_id" value="{{ res.movie_id }}" required>
                     <input type="hidden" name="movie_name" id="movie_name"  value="{{ res.movie_name }}" required>
                     <input type="hidden" name="movie_score" id="movie_score"  value="{{ res.movie_score }}" required>
                     <input type="submit" class = "btn btn-primary" name="add_movie" id="add_movie" value="Add">
               </form>
               </td>
               {% endif %}
            </tr>
            {% endfor %}
         </tbody>
    </table>

   <br>
   
</body>

{% endblock %}
