{% extends "layout.html" %}
{% block package %}
<div class="mx-auto" style="width: 400px; margin-top: 5%;"> 
              <h1>New User details</h1>
              {% if wrong_cred == 1 %}
              <tr>
                  <h3 style="color: red;">Username taken. Please type unique username and try again...</h3>
              </tr>
              {% endif %}
              {% if wrong_cred == 2 %}
              <tr>
                  <h3 style="color: red;">Passwords didn't match.Please try again...</h3>
              </tr>
              {% endif %}
        <form action="{{ request.path }}" method = "post">
            <div class="new_user_info">
              <p>Please fill in this form to create an account.</p>

              <label for="f_name"><b>First Name  </b></label>
              <input class="text_field1" type="text" placeholder="Enter first name here" name="f_name" id="f_name" required>
              <br><br>

              <label for="l_name"><b>Last Name</b></label>
              <input class="text_field1" type="text" placeholder="Enter last name here" name="l_name" id="l_name" required>
              <br><br>

              <label for="user_name"><b>User Name</b></label>
              <input class="text_field1" type="text" placeholder="Enter username here" name="user_name" id="user_name" required>
              <br><br>

              <label for="password"><b>Password</b></label>
              <input class="text_field1" type="password" placeholder="Enter Password here" name="password" id="password" required>
              <br><br>

              <label for="password_again"><b>Repeat Password</b></label>
              <input class="text_field1" type="password" placeholder="Repeat Password" name="password_again" id = "password_again" required>
              <br><br>

              <label for="secret_ans"><b>Secret Answer</b></label>
              <input class="text_field1" type="secret_ans" placeholder="Mother's maiden name?" name="secret_ans" id = "secret_ans" required>
              <br><br>
              <input type="submit" class = "btn btn-primary" name="signin" id="signin" value="Sign Up">
            </div>
        </form><br>
	<a class="btn btn-primary" href="/existinguser">Log In</a>
        <a class="btn btn-primary" href="/">Home</a>
</div>

{% endblock %}

