{% extends "layout.html" %}
{% block package %}
<div class="mx-auto" style="width: 200px; margin-top: 10%;"> 
        <h1>Search Movies</h1>
        {% if no_result1 == 1%}
            <h3 style="color: red;">No search results found for requested movie.</h3>
         {% endif %}
        <form id = search_movie action = {{ request.path }} method = "POST">
                <br>
                <input class="form-group mb-2" type="text" name="movie_name" id="movie_name" placeholder="Movie name here" required>
                <input class="btn btn-primary" type="submit" name="search" id="search" value="Search">
                <br><br>
                </form>
                <head></head>
                <a  class = "btn btn-primary" href="/"> Home</a>
        </form>
</div>

{% endblock %}


