{% extends "layout.html" %}
{% block package %}
      <body>
        <h1>Your List</h1>
        <form id = add_movie action="{{ url_for('userlist') }}" method = "post">
         <label><b> Search/Add a new movie </b></label>
         <br>
         {% if no_result == 1%}
            <h3 style="color: red;">No search results found for requested movie.</h3>
         {% endif %}
         <input class ="form-group mb-2" type="text" name="movie_name" id="movie_name" placeholder="Movie name here" required>
         <input class = "btn btn-outline-secondary" type="submit" name="submit" id="search" value="Search">
        </form>  
      <body>
         
      
      <!-- <form id = empty_list action="{{ url_for('userlist') }}" method = "post">
         <input class = "btn btn-danger" type="submit" name="submit" id="submit" value="Delete movie list">
      </form>
      {% if list_empty == 1%}
         <h3>List already empty.</h3>
      {% endif %} -->

    <table class="table">
         <thead>
            <tr>
               <th WIDTH="20%">Movie Name</th>
               <th WIDTH="10%">TMDB Score</th>
               <th WIDTH="10%"> Remove </th>
            </tr>
         </thead>
         
         <tbody>
            {% for new_movie in watchlist %}
               <tr style="text-align:center">
                  <td>{{ new_movie.movie_name }}</td>
                  <td>{{ new_movie.movie_score }}</td>
                  
                  <td>
                     <form id="remove_movie" method="POST" action= '/removemovie'>
                        </label>
                        <input type="hidden" name="movie_id" id="movie_id"  value="{{ new_movie.movie_id }}" required>
                        <input type="submit" class = "btn btn-outline-danger" name="login" id="login" value="Remove">
                  </form>

                  </td>
               </tr>
            {% endfor %}
         </tbody>
    </table>
   </body>

   <form id = empty_list action="{{ url_for('userlist') }}" method = "post">
      <input class = "btn btn-danger" type="submit" name="submit" id="submit" value="Delete movie list">
   </form>
   {% if list_empty == 1%}
      <h3>List already empty.</h3>
   {% endif %}

   <br><br>

        <a class = "btn btn-outline-primary" href="/logout">Log Out</a>
        <script src="" async defer></script>

        <a class = "btn btn-outline-primary" href="/changepassword">Change Password</a>
        <script src="" async defer></script>

        <a class = "btn btn-outline-warning" href="/signout">Delete Account</a>
        <script src="" async defer></script>

    </body>

{% endblock %}
